.group-card{

    width:280px;

    background:white;

    border-radius:12px;

    padding:20px;

    box-shadow:0 3px 10px rgba(0,0,0,.15);

    transition:.3s;

}

.group-card:hover{

    transform:translateY(-5px);

}

.group-card h2{

    color:#1565C0;

    margin-bottom:15px;

}

.group-card p{

    margin:8px 0;

}

.group-card button{

    margin-top:20px;

    width:100%;

    padding:10px;

    border:none;

    border-radius:8px;

    background:#1565C0;

    color:white;

    cursor:pointer;

}
.progress{

    width:100%;

    height:12px;

    background:#ddd;

    border-radius:20px;

    margin-top:10px;

    overflow:hidden;

}

.progress-bar{

    height:100%;

    background:#4CAF50;

    transition:0.5s;

}